.main{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background: aqua;
}

.section{
    display: grid;
    grid-template-areas: "top" "middle" "bottom";
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.flex{
    display:flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    perspective: 800px;
    flex-wrap:wrap;
}

.group{
    position: relative;
    perspective: 800px;
}

.grid{
    display: grid;
    position: relative;
    perspective: 800px;
}